.Pattern_gridContainer {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
	align-content: center;
	grid-gap: 10px;
	width: 90%;
	margin: auto;
}

.grid-item {
	display: grid;
	align-content: center;
	perspective: 1000px;
}

.exchange,
.resize {
	top: 35px;
	position: absolute;
	z-index: 2;
	opacity: 0.0;
	background: #ededed;
	border-radius: 18px;
	box-shadow: 1px 1px 3px #595959;
	padding: 8px;
	width: 17px;
}

.exchange {
	left: 5px;
}

.resize {
	right: 5px;
}

.grid-item .card:hover .exchange,
.grid-item .card:hover .resize {
	opacity: 0.6;
}

.grid-item .card:hover .correct,
.grid-item .card:hover .wrong {
	opacity: 0.7;
}

.exchange:hover,
.resize:hover {
	transform: scale(1.1);
	box-shadow: 1px 1px 3px #595959;

	cursor: pointer;
}

.grid-item .card {
	margin: auto;
	height: 90px;
	width: 210px;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.card .Pattern_sideGerman,
.card .Pattern_sideEnglish {
	transform-origin: center;
	box-sizing: border-box;
	backface-visibility: hidden;
	position: absolute;
	height: 90px;
	width: 210px;
	padding: 5px 5px;
	background: #ededed;
	border-radius: 18px;
	box-shadow: 1px 0px 15px #ededed;
	margin: auto;
}

.card.clicked {
	transform: rotateY(180deg);
}

.card .Pattern_sideGerman {
	transform: rotateY(-180deg);
}

.grid-item h4 {
	margin: 0px;
}

.Pattern_sideEnglish h4 {
	color: mediumseagreen;
	margin: 0px;
}

.Pattern_sideGerman h4 {
	color: tomato;
	margin: 0px;
}

.Pattern h2 {
	overflow: hidden;
	text-overflow: clip;
	color: #595959;

	margin: 10px 10px;
}

.answer {
	clear: both;
	width: 100%;
	height: 30px;
}

.correct,
.wrong {
	opacity: 0.7;
	width: 30%;
	height: 100%;
	float: left;
}

.card .correct,
.card .wrong {
	opacity: 0;
}

.correct img,
.wrong img {
	margin-top: 2.5px;
	width: 25px;
}

.correct:hover,
.wrong:hover {
	cursor: pointer;
}

.correct:hover {
	transform: translateX(-3px) scale(1.1);
}

.wrong:hover {
	transform: translateX(3px) scale(1.1);
}

.correct {
	border-radius: 10px 0px 0px 10px;
	margin-left: 20%;
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.wrong {
	border-radius: 0px 10px 10px 0px;
	margin-right: 20%;
	background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.Pattern-Progress {
	margin: 20px auto 20px auto;
}

.DetailView {
	box-sizing: border-box;
	padding: 15px;
	height: 80vh;
	width: 100%;
	margin: 0;
	display: block;
	left: 0px;
	z-index: 3;
	box-shadow: 1px 0px 8px #ededed;
	background-color: #ededed;
	border-radius: 20px;
}

.Pattern .hLine {
	display: block;
	width: 80%;
	height: 0.5px;
	margin: auto;
	background-color: #595959;
}

.DetailView .Pattern_sideGerman,
.DetailView .Pattern_sideEnglish {
	height: 40%;
	margin-top: 10px;
	padding: 10px;
}

@media only screen and (min-width: 601px) {
	.grid-item .card:hover,
	.grid-item .card:hover .Pattern_sideGerman,
	.grid-item .card:hover .Pattern_sideEnglish {
		height: 130px;
	}

	.DetailView {
		height: 70vh;
		width: 60vw;
		position: static;
		margin: auto;
	}

	.DetailView .Pattern_sideGerman,
	.DetailView .Pattern_sideEnglish {
		box-sizing: border-box;
		width: 50%;
		float: left;
	}

	.Pattern .hLine {
		display: none;
	}
}

@media only screen and (max-width: 1200px) {
	.grid-item .card {
		height: 90px;
		width: 150px;
	}

	.card .Pattern_sideEnglish,
	.card .Pattern_sideGerman {
		height: 90px;
		width: 150px;
	}
}

.Vokabel_smallCard {
	margin: 15px auto 15px auto;
	height: 60px;
	width: 60px;
	background-color: #ededed;
	border-radius: 20px;
	box-shadow: 1px 0px 8px #ededed;
}

.Pattern_DetailView-enter {
	opacity: 0;
}
.Pattern_DetailView-enter-active {
	opacity: 1;
	transition: opacity 300ms;
}
.Pattern_DetailView-exit {
	opacity: 1;
}
.Pattern_DetailView-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}

.Pattern_GridView-enter {
	opacity: 0;
}
.Pattern_GridView-enter-active {
	opacity: 1;
	transition: opacity 300ms;
}
.Pattern_GridView-exit {
	opacity: 1;
}
.Pattern_GridView-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}
