.Pattern_gridContainer {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
	align-content: center;
	grid-gap: 10px;
	width: 90%;
	margin: auto;
}

.grid-item {
	display: grid;
	align-content: center;
	perspective: 1000px;
}

.exchange,
.resize {
	top: 35px;
	position: absolute;
	z-index: 2;
	opacity: 0.0;
	background: #ededed;
	border-radius: 18px;
	box-shadow: 1px 1px 3px #595959;
	padding: 8px;
	width: 17px;
}

.exchange {
	left: 5px;
}

.resize {
	right: 5px;
}

.grid-item h4 {
	margin: 0px;
}

.Pattern_sideEnglish h4 {
	color: mediumseagreen;
	margin: 0px;
}

.Pattern_sideGerman h4 {
	color: tomato;
	margin: 0px;
}

.Pattern h2 {
	overflow: hidden;
	text-overflow: clip;
	color: #595959;

	margin: 10px 10px;
}

.Pattern-Progress {
	margin: 20px auto 20px auto;
}

.Pattern_DetailView-enter {
	opacity: 0;
}
.Pattern_DetailView-enter-active {
	opacity: 1;
	transition: opacity 300ms;
}
.Pattern_DetailView-exit {
	opacity: 1;
}
.Pattern_DetailView-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}

.Pattern_GridView-enter {
	opacity: 0;
}
.Pattern_GridView-enter-active {
	opacity: 1;
	transition: opacity 300ms;
}
.Pattern_GridView-exit {
	opacity: 1;
}
.Pattern_GridView-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}
