.list {
	border-radius: 5px;
	width: 100%;
	overflow-x: hidden;
}

.VokInputList {
	width: 80%;
	margin: auto;
}

@media only screen and (max-width: 800px) {
	.VokInputList {
		width: calc(100% - 10px - 10px);
		margin: auto;
	}
}

.VokInputList button {
	background: none;
	border: none;
}

.VokInputList button h1 {
	transition: ease-in-out 0.2s;
	transform-origin: center;
	cursor: pointer;
	color: #cdcdcd;
	font-size: xx-large;
}

.VokInputList button h1:hover {
	transform: scale(1.1);
}

.labels {
	z-index: 3;
	position: sticky;
	top: 0px;
	background-color: #232323;
}

@media only screen and (max-width: 602px) {
	.labels {
		display: none;
	}
}

.labels div {
	width: 50%;
	float: left;
}
.labels:after {
	content: "";
	display: table;
	clear: both;
}

.labels div:nth-child(1) p {
	margin-right: 10%;
	width: 250px;
	float: right;
}

.labels div:nth-child(2) p {
	margin-left: 10%;
	width: 250px;
	float: left;
}
