body {
	background: #232323;
	color: #cdcdcd;
	font-family: "Avenir Next", "Avenir", sans-serif;
}

#BurgerMenu {
	z-index: 3;
	position: fixed;
	left: 30px;
	top: 30px;

	transition: left ease-in-out 0.4s 0.1s;
}

#BurgerMenu.clicked {
	z-index: 3;
	position: fixed;
	left: 340px;
	top: 30px;
}

ul {
	margin-top: 85px;
	list-style-type: none;
}

nav li {
	height: 50px;
	transition: all ease-in 0.2s;
}

nav hr {
	margin: 0px;
}

nav li a {
	padding-top: 10px;
	display: block;
	width: 100%;
	height: 100%;
	color: #595959;
	text-decoration: none;
}

nav li a h1 {
	margin: 0px;
}

nav li:hover {
	background-color: rgb(34, 116, 165, 0.7);
}

nav li:hover .navLinkTitle {
	color: #ededed;
}

nav {
	position: fixed;
	top: 0px;
	height: 100%;
	background: #ededed;
	transition: left ease-in-out 0.5s, color 0.5s cubic-bezier(0.7, 0.2, 0.05, 1.0);
}

nav.clicked {
	color: #595959;

	left: 0%;
}

nav.clicked #BurgerMenu {
	left: 200px;
}

@media only screen and (min-width: 601px) {
	nav {
		width: 400px;
		left: -400px;
	}
}

@media only screen and (max-width: 600px) {
	nav {
		width: 100vw;
		left: -100vw;
	}
}
