.SideBar {
	top: 0px;
	position: sticky;
	flex: auto;
	flex-grow: 0;
	width: fit-content;
}

body {
	background: #232323;
	color: #cdcdcd;
	font-family: "Avenir Next", "Avenir", sans-serif;
}

#BurgerMenu {
	z-index: 6;
	position: fixed;
	left: 30px;
	top: 30px;

	transition: left ease-in-out 0.4s 0.1s;
}

#BurgerMenu.clicked {
	z-index: 6;
	position: fixed;
	left: 340px;
	top: 30px;
}

ul {
	opacity: 0;
	margin-top: 0px;
	list-style-type: none;
	transition: opacity ease-in-out 0.1s 0s;
}

nav li {
	margin: 0;
	height: 50px;
	transition: all ease-in 0.2s;
}

nav hr {
	margin: 0px;
}

nav li a {
	padding-top: 10px;
	display: block;
	width: 100%;
	height: 100%;
	color: #595959;
	text-decoration: none;
}

nav li a h1 {
	margin: 0px;
}

nav li:hover {
	background-color: rgb(34, 116, 165, 0.7);
}

nav li:hover .navLinkTitle {
	color: #ededed;
}

nav {
	box-sizing: border-box;
	padding-top: 85px;
	position: sticky;
	top: 0px;
	height: 100vh;
	width: 0px;
	background: #ededed;
	transition: width ease-in-out 0.4s, color 0.4s cubic-bezier(0.7, 0.2, 0.05, 1.0);
}

nav.clicked {
	color: #595959;
	width: 400px;
}

nav.clicked #BurgerMenu {
	left: 200px;
}

@media only screen and (max-width: 600px) {
	nav.clicked {
		width: 100vw;
	}
}
