.list {
	border-radius: 5px;
	width: 100%;
	overflow-x: hidden;
}

.VokInputList {
	width: calc(100% - 85px - 85px);
	margin-left: 85px;
	margin-right: 85px;
}

.VokInputList div h1 {
	transition: ease-in-out 0.2s;
	cursor: pointer;
}

.VokInputList div h1:hover {
	transform: scale(1.1);
}

.labels {
	z-index: 3;
	position: sticky;
	top: 0px;
	background-color: #232323;
}

.labels div {
	width: 50%;
	float: left;
}
.labels:after {
	content: "";
	display: table;
	clear: both;
}

.labels div:nth-child(1) p {
	margin-right: 10%;
	width: 250px;
	float: right;
}

.labels div:nth-child(2) p {
	margin-left: 10%;
	width: 250px;
	float: left;
}
